<div class="row">
	<div class="col-md-4 templates">
		<h3>Blue Template</h3>
		<img src="#">
		<h4> $19.99</h4>
		<a class="btn btn-primary btn-block" href="#/templates/1">Details</a>
	</div>
	<div class="col-md-4 templates">
		<h3>Red Template</h3>
		<img src="#">
		<h4> $19.99</h4>
		<a class="btn btn-primary btn-block" href="#/templates/1">Details</a>
	</div>
	<div class="col-md-4 templates">
		<h3>Green Template</h3>
		<img src="#">
		<h4> $19.99</h4>
		<a class="btn btn-primary btn-block" href="#/templates/1">Details</a>
	</div>

</div>